body{
    background-color: #EBEDF0;
}

.container {
	display: flex;
    flex-direction: column;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 400px; /* Điều chỉnh kích thước container tùy ý */
	padding: 20px;
	border: 1px solid #ccc; /* Tùy chỉnh border cho container */
	border-radius: 5px; /* Tùy chỉnh bo góc cho container */
	background-color: #fff; /* Màu nền của container */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
	align-items: center;
	justify-content: center;
  }

/* Thiết kế input */
.email-input, .password-input {
	width: 95%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
	border-color: #007bff; /* Màu border khi input được focus */
  }
  
/* Thiết kế button đăng nhập */
.login-btn {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff; /* Màu nền của button đăng nhập */
	color: #fff; /* Màu chữ của button đăng nhập */
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
  }
  
  .login-btn:hover {
	background-color: #0056b3; /* Màu nền của button đăng nhập khi hover */
  }
  
  /* Thiết kế button đăng ký */
  .signup-btn {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50; /* Màu nền của button đăng ký */
	color: #fff; /* Màu chữ của button đăng ký */
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
  }
  
  .signup-btn:hover {
	background-color: #388e3c; /* Màu nền của button đăng ký khi hover */
  }
  
  